<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="exception" type="guru.springframework.exceptions.NotFoundException"*/-->
<!--/*@thymesVar id="stacktrace" type="java.lang.String"*/-->
<head>
    <title>Recipe not found</title>
    <div th:replace="responseerrorfragments :: headerFiles"></div>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div th:replace="responseerrorfragments :: errorPanel (${'This Recipe isn''t available'}, ${'The link may be broken, or the recipe may have been removed. Check to see if the link you''re trying to open is correct.'}, ${exception.message})">
    </div>

    <div th:replace="responseerrorfragments :: errorDevInfo (${exception.message}, ${stacktrace})"></div>
</div>
</body>
</html>